

/*######### ANIMACOES #########*/
@keyframes down {
    0% {
        transform: translateY(-50px);
        opacity: 1%;
    }
    50%{
        transform: translateY(-0px);
        opacity: 90%;
    }
    
    
}

body.active {
    background-color: rgb(241, 239, 229);
}

/* NAVBAR DARK MODE */
.navbar.active {
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(13.5px);
    transition: ease 0.8s;
}

.navbar_logo.active {
    color: black;
    font-weight: lighter;
    transition: ease 0.8s;
}

.navbar_menu.active{
    color: black;
    transition: ease 0.8s;

}


.btnmode {
    width: 60px;
    height: 25px;
    border: 2px solid #acacac;

    border-radius: 60px;
    position: relative;
    cursor: pointer;
    transition: 0.8s;
}

.btnmode::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: #acacac;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: ease 0.8s;
}

.btnmode.active::before{
    left: 36px;
    
}

/* TELA INICIO DARK MODE */
.baer.active {
    color: black;
    transition: ease 0.8s;
}

.submain.active {
    color: black;
    font-weight: 300;
}
.sub.active {
    color: black;
    font-weight: 300;
}

.section-home.active {
background: rgb(241, 239, 229);
    transition: ease 0.8s;
    
}

/* TELA SOBRE */
.section--2.active {
    background: rgb(241, 239, 229);
    transition: ease 0.8s;
}

 .sobre-paragraph.active {
    color: #000;
    transition: ease 0.8s;
}

/* TELA CONTATO */

.section--contato.active {
    background: rgb(241, 239, 229);
}

/* TELA PROJETOS */

.section--3.active {
    background: rgb(241, 239, 229);
    transition: ease 0.8s;
}

.services.active {
    background: rgb(241, 239, 229);
    transition: ease 0.8s;
}
