/* RODAPE */
.footer_container {
    background-color: var(--card-color);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-right: 150px;
  }
  
  .footer_link--wrapper {
    display: flex;
  }
  
  .social_media--wrap {
    margin-top: 10px;
  }
  
  .web_site_rights {
    color: rgb(255, 255, 255);
  }
  
  #navbar_logo_cabecalho {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  