
.navbar {
    background-color: var(--primary-background-color);
    background: linear-gradient(
      96.71deg,
      #212121 2.53%,
     #131313 90.50%
    );
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: ease 0.8s;
    opacity:100%;
    box-shadow: 0 3px 22px 0 rgba(19, 18, 18, 0.203);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
  }

  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }

  span {
    background: linear-gradient(
        96.71deg,
        #6c60f5 2.53%,
        rgba(64, 2, 103, 0.352) 60.79%,
        #f03554 90.5%
      );
    background-color: #8b6eee;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: borderColor 7s infinite linear;
  }

  .navbar_logo {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
    
  }
  
  .navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar_item {
    height: 80px;
  }

  .navbar_links {
    color: rgb(190, 190, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    
  }

  .navbar_links:hover {
    transition: all 0.2s ease;
    color: #5a5a5a;
  }

  .navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }