/*######### TELA INICIO #########*/

.section--1 {
  background: var(--primary-background-color);
  width: 100%;
  height: 110vh;
}

.main {
  height: 110vh;
  transition: ease 0.8s;
}

.main_container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 80%;
  z-index: 1;
}

.main_content {
  outline: none;
}

.main_content h1 {
  font-weight: lighter;
  font-size: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background: linear-gradient(
    96.71deg,
    #6c60f5 2.53%,
    rgba(0, 255, 213, 0.151) 60.79%,
    #e02846 90.5%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  margin-bottom: 10px;
  animation: down 1s;
  animation: borderColor 11s infinite linear;
}

.submain {
  color: #fff;
  font-size: 1.5rem;
  font-weight: lighter;
  animation: down 2s;
  margin-bottom: 10px;
}

.main_content .baer {
  font-size: 3rem;
  color: #fff;
  font-weight: lighter;
  animation: down 3s;
}
