/*######### TELA SOBRE #########*/

.section--2 {
  background-color: var(--section2-color);
}

/* Div Base */
.main2 {
  text-transform: uppercase;
  padding: 30vh 0vh;
  height: 100%;
  width: 100%;
}
/* Div Container */
.main_container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 70px;
}

.main_img--container2 .main_img--card2 .eu-img {
  width: 330px;
  
  border-radius: 10px;
}

/* Div conteudo sobre da pagina */
.main_content2 {
  color: rgb(253, 253, 253);
  width: 100%;
  margin-bottom: 90px;
}

/* Titulo da pagina */
.sobre-color {
  
  font-weight: 400;
  font-size: 3rem;
  background: linear-gradient(
    96.71deg,
    #6c60f5 2.53%,
    rgba(64, 2, 103, 0.352) 60.79%,
    #f03554 90.5%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  margin-bottom: 10px;
  animation: down 1s;
  animation: borderColor 3s infinite linear;
  
}
/* paragrafo da pagina sobre */
.main_content2 .sobre-paragraph {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 200;
  text-transform: initial;
}


